.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 150px;
  padding-bottom: 50px;
}

.books-container {
  font-size: calc(10px + 2vmin);
  padding: 50px;
  border-style: inset;
  margin-top: 50px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  padding-top: 30px;
}
